.whats-app-chat-box {
  filter: none !important;
  display: none;
  border: 1px solid white;
  position: absolute;
  bottom: 105%;
  right: 10px;
  height: max-content;
  width: 280px;
  border-radius: 10px;
  color: white !important;
  z-index: 50 !important;
  &.show {
    display: block;
  }
  .chat-header {
    @include flexControl(space-between, center);
    padding: 10px;
    background-color: #128c7e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .logo-container {
      @include flexControl(center, center);
      gap: 8px;
      p,
      span {
        margin: 0;
      }
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 4px;
        background-color: white;
      }
      .text-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: white;
      }
    }
  }
  .chat-container {
    height: 200px;
    position: relative;
    border-top: 1px solid white;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .message-container {
      position: relative;
      margin-left: 15px;
      margin-bottom: 10px;
      padding: 5px;
      background-color: #ffffff;
      min-width: 50px;
      max-width: max-content;
      text-align: left;
      border: 1px solid white;
      box-shadow: rgba($primary, 0.15) 2.4px 2.4px 3.2px;
      border-radius: 10px;
      &::after {
        @include messageContainer(0, -10px);
      }
      .message-header {
        color: $primary !important;
        font-size: 14px;
      }
      .message {
        background-color: rgba(236, 236, 236, 0.158) !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      p {
        font-size: 12px;
        margin: 0;
        ::after {
          content: "\n";
          white-space: pre;
        }
      }
    }
    .input-container {
      position: absolute;
      bottom: 5px;
      width: 255px;
      border-radius: 20px;
      padding: 3px 5px;
      display: flex;
      background-color: white;
      justify-content: space-between !important;
      align-items: center;
      input,
      textarea {
        border: 0;
        height: inherit !important;
        width: 85%;
        border-radius: 10px !important;
        font-size: 14px;
        padding: 5px;
        color: gray;
        font-family: $Poppins;
        resize: none;
        &:active,
        &:focus,
        &:hover {
          outline: none !important;
          border: 0 !important;
        }
      }
      .icon {
        background-color: #128c7e;
        border-radius: 50%;
        padding: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
      }
    }
  }
}
