body {
  margin: 0;
  padding: 0;
}

ul,
ol,
p {
  margin: 0 !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary !important;
  border-radius: 5px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}

.chevron-icon {
  @include flexControl(center, center);

  &::before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: "";
    display: inline-block;
    height: 0.56em;
    position: relative;
    transform: rotate(-45deg);
    vertical-align:middle;
    width: 0.56em;
  }

  &.right::before {
    transform: rotate(45deg);
  }

  &.bottom::before {
    transform: rotate(135deg);
  }

  &.left::before {
    transform: rotate(-135deg);
  }
}

.z-100 {
  z-index: 100 !important;
}

.z-index{
  z-index: 2000 !important;
}
.z-50 {
  z-index: 50 !important;
}

.general-hover-cursor {
  cursor: pointer !important;
  &:hover {
    color: $primary !important;
  }
}

.border-hover-cursor {
  cursor: pointer !important;
  &:hover {
    border-color: $primary !important;
  }
}

.bg-hover{
  cursor: pointer !important;
  &:hover{
    background: darken($primary, 10%) !important;
  }
}

.text-gradient-effect {
  @include textGradient;
}

.text-unelectable {
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

.hover-scale {
  :hover {
    transform: scale(1.1);
  }
}

.transition-ease-in-out {
  transition: all ease-in-out 0.5s;
  transition-delay: 10ms;
}

.disable-class {
  color: rgb(122, 121, 121) !important;
  cursor: not-allowed !important;
}

.temp {
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
  min-height: 100vh;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;

  .block {
    position: relative;
    width: 300px;
    min-height: 200px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 20px;
    .content{
      max-height: 150px;
      overflow-y: auto;
    }
    ul {
      margin-left: 20px !important;
    }
    .column-count {
      column-count: 2;
    }
  }
}

.password-input {
  position: absolute;
  right: 10px;
  &.right-adjustment{
    right: 12%;
  }
  top: 10%;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}

.hide-number-controls::-webkit-inner-spin-button,
.hide-number-controls::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For Firefox */
.hide-number-controls {
  -moz-appearance: textfield;
}

.no-border {
  border: none !important;
}

.no-focus{
  &:focus{
    background: transparent !important;
    box-shadow: none !important;
  }
}

.pagination {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  flex-wrap: wrap !important;
  li {
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    .disable {
      color: #e9ecef !important;
      cursor: none !important;
    }
    &:hover {
      border-color: $primary;
      color: $primary;
    }
    button {
      border: none !important;
      background-color: transparent !important;
      color: inherit !important;
    }
    span {
      margin: 2px;
    }
  }
  .no-border {
    border: none !important;
  }
  .active {
    background-color: $primary !important;
    color: white !important;
    border-color: $primary !important;
  }
}

.border-white{
  border-color: white;
}

.white-shade-placeholder{
  ::placeholder{
    color: rgb(179, 177, 177) !important;
  }
}

.w-full{
  width: 100% !important;
}

.link{
  a{
  color: $primary !important;
  text-underline-offset: 2px;
  &:hover{
    color: lighten($primary,10) !important;
  }}
}

.active-link {
  color: $primary !important;
  text-decoration: none !important;
  @include textGradient;
  border-bottom: 2px solid $primary !important;
  &:hover{
    border-bottom: none !important;
  }
}

.color-primary{
  color: $primary !important;
}
.h-full{
  height: 100%;
}

.m-l-r-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.-z-10{
  z-index: -10 !important;
}

.content-form{
  max-height: clamp(10rem, 40%,60%);
  overflow: auto;
}

// .text-clamp-size{
//   font-size: clamp(1rem, 1vw, 1vw + 0.5rem);
// }

.max-w-cal{
  width: calc(100vw - 650px) !important;
}