/* Hover Bottom Outline Effect */
.hover-bottom-outline > a {
  display: inline-block;
  position: relative;
  font-weight: 900;
  color: inherit;
  text-decoration: none;
}

.hover-bottom-outline > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -2px 0;
  left: 0;
  background: var(--primary-text-gradient);
  transition: width 0.3s ease-in;
}

.hover-bottom-outline > a:hover {
  color: var(--primary);
  background: var(--primary-text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hover-bottom-outline > a:hover::after {
  width: 100%;
}


.active-tab {
  color: var(--primary) !important;
  background: var(--primary-text-gradient) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

.active-tab:hover {
  border-bottom: none;
}
