$primary: #208989;
$primary25:#156c6e;
$primary35:#0e5556;

$secondary:#205b83;
$secondary25:#194d67;
$secondary35:#082c3e;

$primaryDark:#306250;
$primaryDark25:#329973;
$primaryDark35:#a8eed4;

$darkShade:#102b36;
$darkShade25:#182542;
$darkShade35:#323f83; 

$primary-gradient:  linear-gradient(60deg, rgba($primary,1) 30%, rgba($secondary,0.9837184873949579) 100%);

// others
$_7: #09453a;
$_5: #186b6b;
$_3: #129d7e;
$_6: #141532;
$_4: #102b36;
$_1: #273165;


